

<div class="col-md-3">
	<div class="thumbnail">
		<%= link_to user_path(user.username) do %>
			<%= gravatar_tag user.email, size: 200 %>
		<% end %>
		<div class="caption text-center">
			<%= link_to user_path(user.username) do %>
				<h3><%= user.username %></h3>
			<% end %>
			<p><% if current_user %><%= action_buttons(user) %><% end %></p>
		</div>
	</div>
</div>